body,
body * {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-family: "Open Sans", sans-serif;
}

/* NavBar */
.bg-custom {
    background-color: #359caa;
}

/* Carousel */
/* .carousel-item {
    height: 50rem;
}
 */

/*  ¿Quiénes somos? */
.fa-solid {
    width: 100%;
    justify-content: center;
}

.row {
    padding-left: 5rem;
    padding-right: 5rem;
}

.card-img-top {
    height: 12rem;
}